<div class="container">
  <div class="creator"><small><div>created by:</div></small><span class="name">Damian Tułacz</span></div>
  <div class="links">
    <div class="github">
      <button mat-icon-button matTooltip="GitHub" (click)="onGithubClick()">
        <img src="socials/github.png" alt="map-icon" />
      </button>
    </div>
    <div class="linkedin">
      <button mat-icon-button matTooltip="LinkedIn" (click)="onLinkedinClick()">
        <img src="socials/linkedin.png" alt="map-icon" />
      </button>
    </div>
  </div>
</div>
