.container {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .main {
    position: relative;
    width: 100%;
    height: calc(100vh - 114px);
    display: flex;

    .left-panel {
      flex: 0 0 320px;
      display: flex;
      flex-direction: column;

      .filters {
        background-color: rgba(128, 128, 128, 0.1);;
        width: 320px;
        flex: 0 0 200px;
        padding: 0 20px;
      }

      .objects-list {
        z-index: 1;
        overflow: auto;
      }
    }

    .map {
      width: 100%;
    }

    .toggle {
      position: fixed;
      top: 70px;
      right: 30px;
      z-index: 10;
      background-color: transparent;
      border: none;
      cursor: pointer;
      visibility: hidden;
      transform: scale(2);
    }
  }

  @media (max-width: 700px) {
    .main {
      flex-direction: column;
      flex: 1 1 auto;

      .left-panel {
        width: 100%;
        flex: 1 1 auto;
        overflow: auto;
        // scrollbar-gutter: stable;

        .filters {
          width: 100vw;
        }
  
        .objects-list {
          background-color: white;
          width: 100vw;
          flex: 1 1 auto;
        }
      }

      .map {
        position: fixed;
        top: 264px;
        left: 0;
        height: calc(100% - 314px);
        width: 100%;
        z-index: 1;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: white;
        }
      }

      .toggle {
        visibility: visible;
      }
    }
  }
}
