<div class="container">
  <nav class="nav">
    <app-navbar />
  </nav>
  <main class="main">
    <div class="left-panel">
      <div class="filters">
        <app-filters />
      </div>
      <div class="objects-list" #objectsList>
        <app-objects-list />
      </div>
    </div>
    <div class="map">
      <app-map />
    </div>

    <button
      mat-icon-button
      matTooltip="{{ isShowList ? 'Map' : 'List' }}"
      class="toggle"
      (click)="onToggle()"
    >
      @if (isShowList) {
        <mat-icon>public</mat-icon>
      } @else {
        <mat-icon>list</mat-icon>
      }
    </button>
  </main>
  <footer class="footer">
    <app-footer />
  </footer>
</div>

<router-outlet></router-outlet>
