<div class="container">
  <div class="search-input">
    <label for="search">Search</label>
    <input
      type="text"
      name="search"
      id="search"
      [(ngModel)]="searchInput"
      (input)="onFilterChange()"
    />
  </div>
  <div class="selects">
    <div class="type-select">
      <select
        name="type"
        id="type"
        [(ngModel)]="typeSelect"
        (change)="onFilterChange()"
      >
        <option value="">Any</option>
        @for (category of categories; track category) {
          <option value={{category}}>{{category}}</option>
        }
      </select>
    </div>
    <div class="country-select">
      <select
        name="country"
        id="country"
        [(ngModel)]="countrySelect"
        (change)="onFilterChange()"
      >
        <option value="">Any</option>
        @for (country of countries; track country) {
          <option value={{country}}>{{country}}</option>
        }
      </select>
    </div>
  </div>
</div>
