.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  align-items: center;
  user-select: none;
  column-gap: 10px;

  .search-container {
    grid-column: 1 / span 2;
    padding-top: 10px;
    display: flex;

    mat-form-field {
      margin-right: 20px;
    }

    .search {
      flex-grow: 1;
    }

    .reset-filters {
      background-color: transparent;
      border: none;
      cursor: pointer;
      transform: scale(1.5);
      position: relative;
      top: 10px;
    }
  }
}

@media (max-width: 700px) {
  .container {
    padding: 0;

    .search-container {
      padding-right: 90px;

      mat-form-field {
        margin-right: 30px;
      }

      .reset-filters {
        transform: scale(2);
      }
    }
  }
}
