<div class="container">
  <div class="search-container">
    <mat-form-field appearance="outline" class="search">
      <mat-label>Search</mat-label>
      <input matInput [(ngModel)]="searchInput" (input)="onFilterChange()" />
    </mat-form-field>
    <button
      mat-icon-button
      matTooltip="Reset filters"
      class="reset-filters"
      (click)="onResetFilters()"
      [disabled]="isFiltersEmpty()"
    >
      <mat-icon>restart_alt</mat-icon>
    </button>
  </div>
  <mat-form-field appearance="outline" class="select-category">
    <mat-label>Category</mat-label>
    <mat-select [(ngModel)]="typeSelect" (selectionChange)="onFilterChange()">
      <mat-option value="">Any</mat-option>
      @for (category of categories; track category) {
      <mat-option value="{{ category }}">{{ category | titlecase }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="select-country">
    <mat-label>Country</mat-label>
    <mat-select
      [(ngModel)]="countrySelect"
      (selectionChange)="onFilterChange()"
    >
      <mat-option value="">Any</mat-option>
      @for (country of countries; track country) {
        <mat-option value="{{ country }}">{{ country }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
