* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ol-zoom {
  top: 10px !important;
  right: 10px !important;
  left: auto !important;
}

.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  max-width: 100% !important;
  min-width: 0 !important;
}

.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: lightgray;
  --mdc-snackbar-supporting-text-color: #000;
}
