.container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 11;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  width: 90vw;
  max-width: 800px;
  border-radius: 20px;
  padding: 30px;
  padding-top: 60px;
  max-height: 90vh;
  overflow: auto;
  scrollbar-gutter: stable both-edges;

  .close-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    transform: scale(1.5);
  }

  .mat-stepper-horizontal {
    border-radius: 20px;
  }

  // 1 step

  .map-select-info {
    margin-top: 20px;
  }

  .map {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .coordinate-form {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 20px;

      mat-form-field {
        flex-basis: auto;
        flex-grow: 1;
      }
    }

    .bottom {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      width: 100%;
      justify-content: space-between;

      .location {
        height: 100%;
        overflow: hidden;

        .country {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .place {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }

  // 2 step

  .details-form {
    display: flex;
    flex-direction: column;
    // align-items: flex-end;

    .form-fields {
      display: flex;
      flex-direction: column;
      margin: 20px 0;
      flex-basis: auto;
      flex-grow: 1;
      
      mat-form-field {
        flex-basis: auto;
        flex-grow: 1;
      }

      textarea {
        resize: none;
      }

      .location-inputs {
        display: flex;
        gap: 10px;
      }
    }

    .btns {
      align-self: flex-end;
    }
  }

}

@media (max-width: 700px) {
  .container {
    padding: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    border-radius: 0;
    overflow: auto;
    padding-top: 70px;
  }
}
