.container {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  width: 250px;
  height: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }

  &:after,
  &:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }

  &:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }

  .spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    flex-grow: 1;
    margin-left: 15px;
    white-space: nowrap;
    overflow: hidden;

    .name {
      font-weight: bold;
      font-size: 1rem;
      line-height: 1.2rem;
      text-overflow: ellipsis;
      text-wrap: wrap;
      overflow: hidden;
    }

    .location {
      font-size: 0.8rem;
      line-height: 1rem;
      text-overflow: ellipsis;
      text-wrap: nowrap;
      overflow: hidden;
    }

    .description {
      font-size: 0.8rem;
      line-height: 1rem;
      text-overflow: ellipsis;
      text-wrap: nowrap;
      overflow: hidden;
    }
  }

  .image {
    height: 68px;
    overflow: hidden;
    flex: 0 0 68px;

    img {
      border-radius: 20px;
      width: 68px;
      height: 68px;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }
}
